<html>
<head>
	<title>The Next Hot 100</title>	
</head>
<body>
	<div class="container"> 
		<nav class="navbar navbar-inverse" style="margin-bottom:0">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Home</a>
			</div>
            <div class="nav navbar-nav">
                    <li><a href="#about">Top100</a></li>
            </div>
			<div class="nav navbar-nav">
					<li><a href="#about">About</a></li>
			</div>
		</nav>
		<div class="row">
			<div class="jumbotron" style="height:20em">
				<a href="partials/deliverable01.html"><h3>Stage01: Functional Description and ER Design</h3></a></br>
		                <a href="partials/deliverable02.html"><h3>Stage02: Development Plan and Project Comments.</h3></a>
				<a href="partials/deliverable02.html"><h3>Stage02: Development Plan and Project Comments.</h3></a>

			</div>
		</div>
	</div>
</body>
</html>
