<html>
        <head>
                <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <title>The Next Hot 100</title>
        </head>
        <body>

                <div class="container">
                        <nav class="navbar navbar-inverse" style="margin-bottom:0">
                                <div class="navbar-header">
                                        <a class="navbar-brand" href="#">Home</a>
                                </div>
                                <div class="nav navbar-nav">
                                        <li><a href="deliverable01.html">Stage01</a></li>
                                </div>

                                <div class="nav navbar-nav">
                                        <li><a href="deliverable02.html">Stage02</a></li>
                                </div>
                        </nav>

                        <div class="row container">

                                <div class="jumbotron" style="height:20em">
                                        <h1><b>Stage 02:</b> Development Plan and Project Comments.</h1>
                                </div>

                                <div class="col-md-12">
					<h3>Relational Schema</h3>
					<p>
Singles ( song_id, alb_id, artist_id, sond_reldate, proj_rannk, song_name, total_played, lab_id ) </br>
Album ( alb_id, alb_name, alb_reldate, alb_weight )</br>
Featured ( song_id, artist_id, weight )</br>
Created ( alb_id, artist_id, weight )</br>
Genre ( song_id, genre, weight )</br>
Genre ( genre, gen_weight, date )</br>
Ranking ( song_id, date, rank_num, num_played )</br>
Artist ( artist_name, artist_id, artist_weight, num_songs_100 )</br>
					</p>
                                </div>
                                <div class="col-md-12">
                                        <h3>Sofware Platform</h3>
                                        <p>
Back End: Python </br>
.	Data Collection</br>
.	Data Analysis </br>
.	Regression Algorithm</br>
Front End: Javascript</br>
.	Charting visualization: amCharts</br>
.	Angular Framework</br>
Database: MySQL</br>

					</p>
                                </div>
				<div class="col-md-12">
                                        <h3>Data Gathering</h3>
                                        <p>Data will be collected from the web. We will use an unofficial python API for accessing charts from Bilboard.com. https://github.com/guoguo12/billboard-charts</p>
                                </div>
                                <div class="col-md-12">
                                        <h3>Labor Division</h3>
                                        <p>All group members will contribute to all parts of the project. Still, major responsibilities were assigned to each group member.</br>
Antonio Minondo - Data Collection and Storage</br>
Isiah Leblanc - Front End</br>
Jorge Diaz - Data visualization and trend charts</br>
The most crucial piece of our project is the algorithm that will predict which position a song will reach the Top100 in a given future time. We are going to work on it as a group.</br>
</p>
                                </div>
                                <div class="col-md-12">
                                        <h3>Timeline</h3>
                                        <p>09/29 - Decision Making Meeting</br>
.	Assign roles</br>
.	Decide on development tools</br>
.	Ensure we have the data</br>
.	Edit Relational Schema</br>
</br>
10/04 - First Milestone (Basic Set Up)</br>
.	Due:</br>
o	Jorge  - Set up basic web app using the different discussed tools.</br>
o	Anotio - Gather data and input some into SQL.</br>
o	Isiah - Have basic UI model, and working index page.</br>
.	Meeting:</br>
o	Discuss how to develop regression Algorithm. </br>
o	Prepare Deliverable for October 7th. </br>
</br>
10/07 - Algorithm Generation Meeting 01</br>
.	Due:</br>
o	Ideas on different regression algorithms for data collected (one per member).</br>
o	Isiah - Basic working UI</br>
o	Antonio - Have the program communicate with the database.</br>
o	Jorge - have a default chart running and working.</br>
.	Meeting:</br>
o	Follow up on any issues regarding 1st Milestone.</br>
o	Start the implementation of the algorithm.</br>
</br>
10/14 - Second Milestone and Algorithm Generation Meeting 02</br>
.	Due:</br>
o	Have a basic regression algorithm working.</br>
o	Isiah - add features to the site.</br>
o	Antonio - Have the database communicate with the program and the site.</br>
o	Jorge - Algorithm for projection chart generation.</br>
.	Meeting:</br>
o	Discuss status report on the progress of each team member.</br>
o	Team evaluations. </br>
o	Keep working on regression algorithm,</br>
</br>
10/15-10/22 - Spring Break</br>
.	BREAK!</br>
.	Think about how to make project better.</br>
.	Work if you can.</br>
</br>
10/25 - Regroup </br>
.	Get back from fall break.</br>
.	Organize what is missing for the Initial Demo due on Nov. 1-2.</br>
.	Work on the algorithm</br>
.	Work on project.</br>
</br>
10/26 - Work on program </br>
.	Evaluate UI performance, suggest new features and address issues.</br>
.	Work on algorithm.</br>
.	Work on charts algorithm.</br>
</br>
10/27 - Plan demo and work on demo</br>
.	Organize the structure of the demo.</br>
.	Evaluate what features need to be worked on more for the demo.</br>
.	Work on the charts, UI, and database functions. </br>
</br>
10/28 - Work on Demo</br>
</br>
10/30 -Third Milestone </br>
.	Ensure all demo deliverable requirements are met.</br> 
.	Have all of the required functionality. </br>

10/31 - Address any pending issues before demo</br>
</p>
                                </div>



        </body>
</html>


