<html>
<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<!-- <link rel="stylesheet" href="css/home1.css"> -->
	<title>{{HomeTitle}}</title>	
</head>
<body>

<div class="container"> 
	<div class="row">
		<div class="col-md-4"> 
			<h3>Add Song</h3>
			<form novalidate>
				<div align="left">Song Name: </div>
				<input type="text" ng-model="new_song.name" /> <br>
				<div align="left">Artist: </div>
				<input type="text" ng-model="new_song.artist" /> <br>
				<div align="left">Album: </div>
				<input type="text" ng-model="new_song.album" /> <br>
			</form>
			<button class="btn btn-warning" ng-click="addSong()">Add</button>
		</div>
		<div class="col-md-4"> 
			<h3>Edit Song</h3>
			<form novalidate>
				<div align="left">Song Id: </div> 
				<input type="text" ng-model="edit_song.id" /> <br>
				<div align="left">Song name: </div>
				<input type="text" ng-model="edit_song.name" /> <br>
				<div align="left"> Artist: </div>
				<input type="text" ng-model="edit_song.artist" /> <br>
				<div align="left">Album: </div>
				<input type="text" ng-model="edit_song.album" /> <br>
			</form>
			<button class="btn btn-default" ng-click="editSong()">Edit</button>
		</div>
		<div class="col-md-4"> 
			<h3>Filter by Artist</h3>
			<div align="left">Artist Name: </div>
			<input type="text" ng-model="artist"/> <br>
			<div algin="left">Query: SELECT * FROM singles WHERE artist_name like {{artist}} </div>
			<button class="btn btn-default" ng-click="queryArtist(artist)">Query</button>
		</div>
	</div>

		<div class="row">
		Filter: <input type="text" ng-model="search_filter"/>
			<table class="table table-hover table-responsive">
				<thead>
					<th>Track_Id</th>
					<th>Track_Name</th>
					<th>Track_Artist</th>
					<th>Track Album</th>
					<th>Action</th>
				</thead>
				<tbody>
					<tr ng-repeat="p in data">
						<td class>{{p.track_id}}</td>
						<td class>{{p.track_name}}</td>						
						<td class>{{p.track_artist}}</td>
						<td class>{{p.track_album}}</td>
						<td class><button ng-click=deleteEntry(p.track_id)>Delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row"> 
			<h3 align="center">Get Artist Weight for Featured Artists  </h3>
			<div align="center">Query: SELECT q1.track_id, q1.track_name, q1.feat_artist, q2.feat_weight FROM feat as q1, artists as q2 WHERE q1.artist_id=q2.artist_id limit 15</div>
			<div align="center"><button ng-click=queryArtistandWeight()>Execute</button></div> 
			<p></p>


		</div>

		<div class="row">
			<table class="table table-hover table-responsive">
				<thead>
					<th>Track ID</th>
					<th>Track Name</th>
					<th>Featured Artist</th>
					<th>Featured Weight</th>
				</thead>
				<tbody>
					<tr ng-repeat="p in artist_and_weights_data">
						<td class>{{p.track_id}}</td>
						<td class>{{p.track_name}}</td>						
						<td class>{{p.feat_artist}}</td>
						<td class>{{p.feat_weight}}</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</body>

</html>
